AUTH_DB_URL=jdbc:postgresql://postgres-auth:5432/auth_db
AUTH_DB_USERNAME=auth_user
AUTH_DB_PASSWORD=auth_password

AUTH_KAFKA_BOOTSTRAP_SERVERS=kafka:29092

AUTH_JWT_ISSUER=http://auth-service:8081
AUTH_JWT_AUDIENCE=roleradar-api
AUTH_JWT_KEY_ID=auth-rsa-key-1
AUTH_JWT_ACCESS_TOKEN_TTL_SECONDS=900
AUTH_JWT_REFRESH_TOKEN_TTL_SECONDS=2592000
AUTH_JWT_PRIVATE_KEY_LOCATION=file:/run/secrets/auth-jwt-private.pem

AUTH_KAFKA_TOPIC_EMAIL_VERIFICATION_REQUESTED=auth.email-verification-requested

AUTH_REFRESH_TOKEN_CLEANUP_CRON=0 15 * * * *
AUTH_REFRESH_TOKEN_EXPIRED_RETENTION_DAYS=0
AUTH_REFRESH_TOKEN_REVOKED_RETENTION_DAYS=7

AUTH_SERVER_PORT=8081
