VACANCY_DB_URL=jdbc:postgresql://postgres-vacancy:5432/vacancy_db
VACANCY_DB_USERNAME=vacancy_user
VACANCY_DB_PASSWORD=vacancy_password

VACANCY_KAFKA_BOOTSTRAP_SERVERS=kafka:29092
VACANCY_KAFKA_CONSUMER_GROUP_ID=vacancy-service
VACANCY_KAFKA_AUTO_OFFSET_RESET=earliest
VACANCY_KAFKA_TRUSTED_PACKAGES=com.roleradar.vacancy.event
VACANCY_KAFKA_DEFAULT_TYPE=com.roleradar.vacancy.event.VacancyUpsertedEvent

VACANCY_SERVER_PORT=8082

VACANCY_JWT_ISSUER=http://auth-service:8081
VACANCY_JWT_AUDIENCE=roleradar-api
VACANCY_JWK_SET_URI=http://auth-service:8081/.well-known/jwks.json

VACANCY_KAFKA_TOPIC_VACANCY_UPSERTED=vacancy-upserted
VACANCY_KAFKA_TOPIC_VACANCY_UPSERTED_DLT=vacancy-upserted-dlt

VACANCY_CONSUMER_RETRY_MAX_ATTEMPTS=3
VACANCY_CONSUMER_RETRY_BACKOFF_INTERVAL_MS=1000

VACANCY_PROCESSED_EVENTS_CLEANUP_CRON=0 0 * * * *
VACANCY_PROCESSED_EVENTS_RETENTION_DAYS=30

VACANCY_STALE_CLOSE_CRON=0 0 * * * *
VACANCY_STALE_CLOSE_THRESHOLD_HOURS=48
VACANCY_CLOSED_CLEANUP_CRON=0 30 0 * * *
VACANCY_CLOSED_RETENTION_DAYS=30
